@margin: 10px;
@side: 300px;
@top: 50px;
.fixWidth{
    width:@side;
    max-width:@side;
    min-width:@side;
}
.fixHeight{
    height:@top;
    max-height:@top;
    min-height:@top;
}

AppLayout{
  border: 1px solid #333;
  AppTitle{
    border:1px solid #a00;
    position:absolute;
    top: @margin;
    left: @margin;
    &:extend(.fixWidth);
    &:extend(.fixHeight);
  }
  AppSidebar{
    border: 1px solid #aa0;
    position:absolute;
    top: 2*@margin + @top;
    left: @margin;
    &:extend(.fixWidth);
    bottom: @margin;
  }
  AppToolbar{
    border: 1px solid #0a0;
    position:absolute;
    top: @margin;
    left: @margin;
    right: @margin;
    &:extend(.fixHeight);
  }
  AppContent{
    border: 1px solid #0aa;
    top: 2*@margin + @top;
    left: @margin;
    bottom: @margin;
    right: @margin;
  }
  AppStatusbar{
    border: 1px solid #00a;
  }
}